{:deps {org.clojure/clojure {:mvn/version "1.11.4"}
        ;; io.github.timothypratley/happyapi {:mvn/version "1.0.137-beta"}
        io.github.timothypratley/happyapi {:local/root "../happyapi"}
        io.github.timothypratley/happyapi.google {:mvn/version "1.0.7-beta"}
        http-kit/http-kit {:mvn/version "2.9.0-alpha1"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        babashka/fs {:mvn/version "0.5.20"}
        org.apache.lucene/lucene-core {:mvn/version "9.10.0"}
        org.apache.lucene/lucene-analysis-common {:mvn/version "9.10.0"}}
 
 :paths ["src" 
         "resources"]

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}